body {
    background-color: #161616;
    color: #fff;
    font-family: 'Comic Sans MS', Courier, monospace;
}

header, footer {
    background-color: #330101;
    padding: 20px;
    text-align: center;
    color: #ff9800;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ff9800;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: #ff9800;
}

#input-name {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}

#games-lists {
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    list-style-type: none;
}

#games-lists li {
    padding: 10px;
    border: 1px solid #ff9800;
    margin-bottom: 10px;
    text-align: center;
    background-color: #330101;
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #ff9800;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c46a03;
}
